@{
    ViewData["Title"] = "Main page";
}
<div id="app"></div>
@*Prod*@
@*<script asp-src-include="~/dist/Home_*.js"></script>*@
<link rel="stylesheet" href="./dist/app.css">
<script src="/dist/app.js"></script>